]<!DOCTYPE html>
<html>
   <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!--
       <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
       -->
       <title>Raspberry Pi</title>
   </head>
   <style>
       table {
           position: absolute;
           text-align: top;
           margin-top: 40px;
           margin-left: 250px;
           border-collapse: collapse;
       }
       td {
           width: 30px;
           height: 30px;
           border: solid 1px;
       }
   </style>

   <body bgcolor = "#CCFF99">
       <h2 style="position: absolute; left:340px; top:0px;";><font color="blue">OCR結果</font></h2>
       <div>
            <table id="dotTBL"></table>
       </div>
       <!-- プログレスバー表示準備-->
       <div id="indprg"></div>

       <!-- 撮影済み画像標示-->
       <div style="position: absolute; top:20px; left:10px ">
            <h4><font color="blue">撮影した画像</font></h4>
            <img id="camera2" src="/camera2.mjpeg" width="190" height="190">
       </div>

       <!--分割画像標示-->
       <div style="position: absolute; top:20px; right:40px ">
            <h4><font color="blue">分割画像</font></h4>
            <img id="camera3" src="/camera3.mjpeg" width="150" height="150">
       </div>

       <!--画像解析開始button
       <div>
           <input type="button" style="position: absolute; left: 200px; bottom: 20px; font-size: 12pt; background-color:yellow; " value="読み取り開始！" >
       </div>
       -->

       <script>
       window.onload = function() { //HTMLが読み込まれると働く関数
           dotTable();          //数独問題テーブル
           var pDiv=document.getElementById("indprg");
           pDiv.innerHTML="<progress  style='position: absolute; left: 300px; bottom: 20px;'>0%</progress>";

           window.location.href = '/cstart3';
       };      

       var Matrix_Rows = 9;
       var Matrix_Cols = 9;

       var dotTbl = document.getElementById("dotTBL");//数独問題テーブル

       //読み取った数独問題を標示するテーブルを用意する
       function dotTable() {
           for(var i=0; i<Matrix_Rows; i++) {
               var row = dotTbl.insertRow(-1); //行を追加する　-1の指定で最後の行として追加される
               for(var j=0; j<Matrix_Cols; j++) {
                   var cell = row.insertCell(-1); //その行にセル(列)を追加する
                   cell.style.backgroundColor = "white";
                   cell.innerHTML = " ";
               };
           };
       };

       var evtSource=new EventSource('/temp_data');

       evtSource.onmessage=function(event){
           var b=event.data.length;
           var a=event.data.substr(0,b);
           if(b<85){
               for( var l=0 ; l<b ; l++){
                   var i=parseInt(l/9);
                   var j=l-i*9;
                   var k=a.substr(i*9+j,1);
                   dotTbl.rows[i].cells[j].style.backgroundColor = "red";
                   dotTbl.rows[i].cells[j].style.color = "white";
                   dotTbl.rows[i].cells[j].style.textAlign = "center";
                   dotTbl.rows[i].cells[j].innerHTML = k;
               };
           };
       };

       </script>
   </body>
</html>


